In [1]:
import pandas as pd 
import numpy as np

In [8]:
cd Desktop/

/Users/siandavies/Desktop

In [9]:
!ls

categorical.csv   numerical.csv     numerical.csv.zip target.csv

In [10]:
numerical=pd.read_csv('numerical.csv')

In [11]:
categorical=pd.read_csv('categorical.csv')

In [12]:
target=pd.read_csv('target.csv')

In [13]:
numerical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 315 entries, TCODE to CLUSTER2
dtypes: float64(9), int64(306)
memory usage: 229.3 MB

In [14]:
categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         95412 non-null  object
 1   CLUSTER       95412 non-null  int64
 2   HOMEOWNR      95412 non-null  object
 3   GENDER        95412 non-null  object
 4   DATASRCE      95412 non-null  int64
 5   RFA_2R        95412 non-null  object
 6   RFA_2A        95412 non-null  object
 7   GEOCODE2      95412 non-null  object
 8   DOMAIN_A      95412 non-null  object
 9   DOMAIN_B      95412 non-null  int64
 10  ODATEW_YR     95412 non-null  int64
 11  ODATEW_MM     95412 non-null  int64
 12  DOB_YR        95412 non-null  int64
 13  DOB_MM        95412 non-null  int64
 14  MINRDATE_YR   95412 non-null  int64
 15  MINRDATE_MM   95412 non-null  int64
 16  MAXRDATE_YR   95412 non-null  int64
 17  MAXRDATE_MM   95412 non-null  int64
 18  LASTDATE_YR   95412 non-null  int64
 19  LASTDATE_MM   95412 non-null  int64
 20  FIRSTDATE_YR  95412 non-null  int64
 21  FIRSTDATE_MM  95412 non-null  int64
dtypes: int64(15), object(7)
memory usage: 16.0+ MB

In [15]:
target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TARGET_B  95412 non-null  int64
 1   TARGET_D  95412 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 1.5 MB

In [16]:
data=pd.concat([numerical,categorical,target],axis=1)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 339 entries, TCODE to TARGET_D
dtypes: float64(10), int64(322), object(7)
memory usage: 246.8+ MB

In [18]:
data['TARGET_B'].value_counts()

0    90569
1     4843
Name: TARGET_B, dtype: int64

# imbalance management - downsampling

In [19]:
category_0=data[data['TARGET_B']==0].sample(len(data[data['TARGET_B']==1]))

In [20]:
category_1=data[data['TARGET_B']==1]

In [21]:
data=pd.concat([category_0,category_1],axis=0)

In [22]:
data=data.reset_index(drop=True)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9686 entries, 0 to 9685
Columns: 339 entries, TCODE to TARGET_D
dtypes: float64(10), int64(322), object(7)
memory usage: 25.1+ MB

In [24]:
data.head()

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_B,TARGET_D
0,2,61.611649,1,1,4,0,28,23,41,12,...,89,3,94,9,96,1,86,11,0,0.0
1,0,61.611649,7,9,0,0,24,26,24,3,...,95,12,95,11,95,12,94,11,0,0.0
2,1,76.000000,2,7,1,0,27,27,34,4,...,87,3,95,2,95,9,86,9,0,0.0
3,3,88.000000,5,9,0,0,41,6,54,7,...,90,11,95,12,95,12,88,9,0,0.0
4,0,60.000000,1,9,0,0,26,28,45,11,...,92,11,94,11,95,10,92,3,0,0.0

In [25]:
#set dependent variable 
y=data['TARGET_B']
X=data.drop(['TARGET_B'],axis=1)

In [26]:
X_num=X.select_dtypes(np.number)
X_cat=X.select_dtypes(object)

In [27]:
X_cat.head()

   STATE HOMEOWNR GENDER RFA_2R RFA_2A GEOCODE2 DOMAIN_A
0  other        U      F      L      E        D        R
1     NC        U      F      L      F        C        R
2  other        H      M      L      E        C        T
3     FL        H      F      L      F        B        C
4     FL        U      M      L      E        A        U

In [28]:
X_cat.shape

(9686, 7)

In [29]:
from sklearn.preprocessing import OneHotEncoder

In [30]:
encoder=OneHotEncoder(drop='first').fit(X_cat)

In [31]:
X_cat_en=encoder.transform(X_cat).toarray() # lost categorical feature names

In [42]:
X_cat_en_cols=encoder.get_feature_names_out(X_cat.columns)# restore feature names 
#older version 'get_feature_names'

In [43]:
X_cat_en_cols

array(['STATE_FL', 'STATE_GA', 'STATE_IL', 'STATE_IN', 'STATE_MI',
       'STATE_MO', 'STATE_NC', 'STATE_TX', 'STATE_WA', 'STATE_WI',
       'STATE_other', 'HOMEOWNR_U', 'GENDER_M', 'GENDER_other',
       'RFA_2A_E', 'RFA_2A_F', 'RFA_2A_G', 'GEOCODE2_B', 'GEOCODE2_C',
       'GEOCODE2_D', 'DOMAIN_A_R', 'DOMAIN_A_S', 'DOMAIN_A_T',
       'DOMAIN_A_U'], dtype=object)

In [44]:
X_cat_en_df=pd.DataFrame(X_cat_en, columns=X_cat_en_cols) # restored categorical names

In [45]:
X_full=pd.concat([X_cat_en_df,X_num],axis=1)# retained feature names

In [47]:
X_full.head(1)

,STATE_FL,STATE_GA,STATE_IL,STATE_IN,STATE_MI,STATE_MO,STATE_NC,STATE_TX,STATE_WA,STATE_WI,...,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_D
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2,89,3,94,9,96,1,86,11,0.0

In [34]:
from sklearn.model_selection import train_test_split

In [48]:
X_train,X_test,y_train,y_test=train_test_split(X_full,y,test_size=0.3,random_state=40)

In [36]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
clf=RandomForestClassifier(n_estimators=200,max_depth=2, random_state=40)
clf.fit(X_train,y_train)
print(clf.score(X_test,y_test))

0.9390915347556779

In [38]:
X_full.shape

(9686, 355)

# with ensemble you should use more than one scoring metric

In [39]:
from sklearn.model_selection import cross_val_score

In [50]:
cross_val_scores=cross_val_score(clf,X_train,y_train)

In [51]:
cross_val_scores  # there are more parameters we havent set up

array([0.92551622, 0.94616519, 0.94616519, 0.96238938, 0.94985251])

# Feature selection / scoring with RF

In [53]:
feature_importances=clf.feature_importances_

In [54]:
feature_names = X_full.columns

In [55]:
forest_importances = pd.Series(feature_importances, index=feature_names)

In [56]:
forest_importances.sort_values(ascending=False)

TARGET_D    0.113624
LASTGIFT    0.069838
AVGGIFT     0.063221
MINRAMNT    0.049156
RFA_2F      0.046409
              ...
ETH7        0.000000
HHD10       0.000000
OCC12       0.000000
OCC13       0.000000
STATE_FL    0.000000
Length: 355, dtype: float64

In [59]:
with pd.option_context('display.max_rows', None) :
    print(forest_importances.sort_values(ascending=False))

TARGET_D        0.113624
LASTGIFT        0.069838
AVGGIFT         0.063221
MINRAMNT        0.049156
RFA_2F          0.046409
CARDGIFT        0.045724
MAXRAMNT        0.043340
RFA_2A_G        0.037687
NGIFTALL        0.035077
LASTDATE_YR     0.024061
ETH1            0.016853
NUMPRM12        0.014083
ETH2            0.012402
CARDPM12        0.012286
IC1             0.011538
ETHC5           0.010882
CARDPROM        0.010339
HHD9            0.009998
HV1             0.009808
IC5             0.009195
HVP3            0.008409
ETHC4           0.008329
HV2             0.008087
DMA             0.007960
FIRSTDATE_YR    0.007531
HVP4            0.006598
IC3             0.006586
IC4             0.006490
HVP5            0.006198
HHN2            0.006136
HC21            0.005967
HHAS3           0.005881
AGE901          0.005864
CONTROLN        0.005599
AGEC6           0.005511
CLUSTER2        0.005439
NUMPROM         0.005437
RAMNTALL        0.005209
ETHC2           0.005046
IC2             0.005004
VOC1            0.004945
HVP6            0.004903
EC2             0.004836
ODATEW_YR       0.004598
HC20            0.004537
RFA_2A_E        0.004418
IC6             0.004261
MARR4           0.004172
EC5             0.004080
EIC13           0.004071
EC3             0.003893
RFA_2A_F        0.003776
LFC7            0.003634
RP3             0.003593
OCC8            0.003516
MAXRDATE_YR     0.003436
IC13            0.003394
HHAS2           0.003365
HHAGE3          0.003278
IC15            0.003174
AGEC1           0.003172
RP2             0.003060
HC6             0.003024
HHN5            0.002963
EC4             0.002896
HHD7            0.002872
IC10            0.002860
HHAS4           0.002732
EIC15           0.002713
IC19            0.002609
ETH4            0.002486
VC3             0.002441
HC18            0.002416
TIMELAG         0.002401
AGE             0.002343
EC1             0.002325
TPE7            0.002322
OCC10           0.002247
OCC2            0.002213
VC4             0.002140
HHP1            0.002081
LFC2            0.002046
LASTDATE_MM     0.002040
EIC7            0.002019
POBC1           0.002003
VIETVETS        0.001947
HHD3            0.001887
EC8             0.001855
DOB_YR          0.001842
POBC2           0.001823
INCOME          0.001794
DW7             0.001767
HUPA1           0.001766
EC7             0.001743
AGE905          0.001733
IC18            0.001721
ANC4            0.001704
ANC8            0.001680
ETHC1           0.001598
TPE1            0.001551
POP90C5         0.001525
HV4             0.001513
LSC3            0.001510
FIRSTDATE_MM    0.001505
AFC5            0.001455
LFC4            0.001442
POP902          0.001440
WWIIVETS        0.001425
ETHC3           0.001416
LFC8            0.001403
OCC5            0.001396
EIC2            0.001314
TPE8            0.001311
EC6             0.001305
IC22            0.001240
DW6             0.001232
RP1             0.001221
POP90C4         0.001190
RP4             0.001188
AGEC2           0.001125
MARR3           0.001108
HHP2            0.001096
ANC6            0.001047
IC9             0.000970
HU3             0.000941
HHAS1           0.000925
IC20            0.000918
HC11            0.000901
OEDC2           0.000855
LFC10           0.000847
MARR1           0.000846
HHN4            0.000843
RHP1            0.000825
HHN3            0.000817
TPE9            0.000814
TPE13           0.000804
LFC6            0.000782
HVP1            0.000777
HHN6            0.000777
ANC2            0.000708
AGE902          0.000704
MALEVET         0.000703
IC14            0.000701
POP901          0.000700
DW5             0.000689
OCC1            0.000687
HHD12           0.000675
DW8             0.000674
EIC9            0.000666
HUPA5           0.000665
OCC11           0.000661
VOC3            0.000644
EIC4            0.000640
CLUSTER         0.000632
LSC2            0.000611
HU2             0.000583
TPE11           0.000582
ANC7            0.000531
TPE2            0.000445
IC21            0.000423
AGEC5           0.000367
AGE904          0.000362
ANC10           0.000326
HU1             0.000058
LSC4            0.000000
HC3             0.000000
HC5             0.000000
HC4             0.000000
ANC11           0.000000
ANC12           0.000000
ANC13           0.000000
ANC14           0.000000
ANC15           0.000000
MARR2           0.000000
FEDGOV          0.000000
STATEGOV        0.000000
HC2             0.000000
HC1             0.000000
VOC2            0.000000
ANC9            0.000000
LOCALGOV        0.000000
LSC1            0.000000
HUPA6           0.000000
DW9             0.000000
AFC4            0.000000
HHD1            0.000000
SEC1            0.000000
SEC2            0.000000
SEC3            0.000000
SEC4            0.000000
SEC5            0.000000
AFC1            0.000000
AFC2            0.000000
AFC3            0.000000
HU5             0.000000
HC7             0.000000
AFC6            0.000000
VC1             0.000000
VC2             0.000000
HU4             0.000000
WEALTH2         0.000000
ANC1            0.000000
ANC3            0.000000
ANC5            0.000000
HV3             0.000000
DW4             0.000000
DW3             0.000000
HC8             0.000000
GEOCODE2_C      0.000000
GENDER_other    0.000000
GENDER_M        0.000000
HOMEOWNR_U      0.000000
STATE_other     0.000000
HPHONE_D        0.000000
STATE_WI        0.000000
STATE_WA        0.000000
DATASRCE        0.000000
DOMAIN_B        0.000000
STATE_TX        0.000000
ODATEW_MM       0.000000
STATE_NC        0.000000
DOB_MM          0.000000
MINRDATE_YR     0.000000
MINRDATE_MM     0.000000
STATE_MO        0.000000
MAXRDATE_MM     0.000000
STATE_MI        0.000000
STATE_IN        0.000000
STATE_IL        0.000000
DW1             0.000000
GEOCODE2_B      0.000000
GEOCODE2_D      0.000000
HC9             0.000000
DOMAIN_A_R      0.000000
HC10            0.000000
HHD2            0.000000
HC12            0.000000
HC13            0.000000
HC14            0.000000
HC15            0.000000
HC16            0.000000
HC17            0.000000
DW2             0.000000
HC19            0.000000
MALEMILI        0.000000
HIT             0.000000
MHUC1           0.000000
MHUC2           0.000000
AC1             0.000000
AC2             0.000000
WEALTH1         0.000000
TCODE           0.000000
DOMAIN_A_U      0.000000
DOMAIN_A_T      0.000000
DOMAIN_A_S      0.000000
POP903          0.000000
POP90C3         0.000000
POP90C1         0.000000
ETH16           0.000000
HUR2            0.000000
IC23            0.000000
HUR1            0.000000
ETH15           0.000000
ETH14           0.000000
ETH13           0.000000
MC1             0.000000
MC2             0.000000
MC3             0.000000
CHILC1          0.000000
TPE3            0.000000
TPE4            0.000000
TPE5            0.000000
TPE6            0.000000
ETH12           0.000000
CHILC2          0.000000
CHILC3          0.000000
PEC1            0.000000
PEC2            0.000000
TPE10           0.000000
TPE12           0.000000
RHP2            0.000000
STATE_GA        0.000000
POP90C2         0.000000
IC17            0.000000
HUPA4           0.000000
AGEC4           0.000000
HUPA3           0.000000
MSA             0.000000
ADI             0.000000
AGEC3           0.000000
HUPA2           0.000000
CHIL3           0.000000
CHIL2           0.000000
CHIL1           0.000000
AGE907          0.000000
AGE906          0.000000
IC7             0.000000
IC8             0.000000
AGEC7           0.000000
IC11            0.000000
IC12            0.000000
AGE903          0.000000
RHP4            0.000000
RHP3            0.000000
IC16            0.000000
CHILC4          0.000000
LFC1            0.000000
ETH11           0.000000
LFC3            0.000000
EIC6            0.000000
ETH6            0.000000
EIC8            0.000000
HHD8            0.000000
EIC10           0.000000
EIC11           0.000000
EIC12           0.000000
ETH5            0.000000
EIC14           0.000000
ETH3            0.000000
EIC16           0.000000
OEDC1           0.000000
HHD6            0.000000
OEDC3           0.000000
OEDC4           0.000000
OEDC5           0.000000
OEDC6           0.000000
OEDC7           0.000000
HHD5            0.000000
HHD4            0.000000
HUPA7           0.000000
EIC5            0.000000
EIC3            0.000000
HHN1            0.000000
OCC3            0.000000
HVP2            0.000000
LFC5            0.000000
ETHC6           0.000000
ETH10           0.000000
CHILC5          0.000000
LFC9            0.000000
HHAGE1          0.000000
HHAGE2          0.000000
ETH9            0.000000
OCC4            0.000000
EIC1            0.000000
HHD11           0.000000
OCC6            0.000000
OCC7            0.000000
ETH8            0.000000
OCC9            0.000000
ETH7            0.000000
HHD10           0.000000
OCC12           0.000000
OCC13           0.000000
STATE_FL        0.000000
dtype: float64

In [ ]:
X_cat_en_cols=encoder.get_feature_names_out(X_cat.columns)

In [ ]:
X_cat_en_df=pd.DataFrame(X_cat_en, columns=X_cat_en_cols)

In [ ]:
X_cat_en_df.head(1)

In [ ]:
X_full=pd.concat([X_cat_en_df,X_num],axis=1)

In [ ]:
X_full.head(1)

In [ ]:
clf.feature_importances_

In [ ]:
feature_names = X_full.columns

In [ ]:
feature_names

In [ ]:
import time
start_time = time.time()
importances = clf.feature_importances_
std = np.std([clf.feature_importances_ for tree in clf.estimators_], axis=0)
elapsed_time = time.time() - start_time

In [ ]:
print(f"Elapsed time to compute the importances: {elapsed_time:.3f} seconds")

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None) :
    print(forest_importances.sort_values(ascending=False))

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
forest_importances = pd.Series(importances, index=feature_names)

fig, ax = plt.subplots(figsize=(50,30))
forest_importances.plot.bar(yerr=std, ax=ax)
ax.set_title("Feature importances using MDI")
ax.set_ylabel("Mean decrease in impurity")
fig.tight_layout()